<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>슬램톡 | 임시 비밀번호 발급</title>
</head>
<body>
<div class="container" style="color: #404040; min-width: 360px; max-width: 600px; margin-top: 50px; padding: 0 300px;">
    <div class="content">
        <img src="https://slamtalks3.s3.ap-northeast-2.amazonaws.com/1561891asdfmme1561.png" alt="slam talk logo"
             style="width: 128px; display: block; margin: 0 auto;">
        <h1 style="color: black; text-align: center;">임시 비밀번호 발급 안내 메일</h1>
        <p style="text-align: center; color: black;">기재된 임시 비밀번호로 로그인 하신 후</p>
        <p style="text-align: center; color: black;">비밀번호를 변경해 주시기 바랍니다.</p>
    </div>
    <div class="code"
         style="border-radius: 6px; color: black; height: 120px; margin: 40px 0; background-color: ghostwhite; text-align: center; font-size: 30px;">
        <b th:text="${code}" style="line-height: 120px;"></b></div>
    <div style="width: 100%">
        <div>
            <a href="https://www.slam-talk.site/login" class="homepage-btn"
               style="background-color: #ff634a; color: white; text-align: center; font-size: medium; text-decoration: none; border-radius: 6px; display: block; margin: 30px 0; padding: 10px">
                로그인하러 가기
            </a>
        </div>
    </div>
</div>
</body>
</html>
